.blue {
	fill:#26466D;
}

.blueline {
	stroke:#26466D;
	stroke-width=4;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}