/*http://coolors.co/171a21-7692ff-abd2fa-3d518c-234b92*/

body {
	font-family: 'Arimo', sans-serif;
}

@media (min-width: 900px) { 
	#relnetwork {
		margin-left: 10%;
		width:40%;
		float:left;
	}

	#legend {
		margin-right:5%;
	}

	#inputs {
		margin-right: 10%;
		width:40%;
		float:right; 
	}

	.jslider {
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top:20px;
	margin-bottom:20px;
}
}

@media (max-width: 900px) {
	#relnetwork {
		margin-left: 10%;
		width:80%;
		margin-right:10%;
	}

	#inputs {
		margin-left: 10%;
		width:80%;
		margin-right: 10%;
	}

	.jslider {
	width:80%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top:20px;
	margin-bottom:20px;
	}
}

#intro {
	margin-left: 10%;
	margin-right: 10%;
	width:80%;
}

#inputs div.jslider-value, #inputs .jslider-label {
	font-size: 12px;
}

.blue {
	fill:#26466D;
}

.blue_line {
	stroke:#26466D;
	stroke-width:2;
}

.no_line {
	opacity:0.5;
	stroke-width:1;
}

.small_line {
	opacity:.25;
	stroke-width:2;
}

.med_line {
	opacity:.5;
	stroke-width:3;
}

.big_line {
	opacity:1;
	stroke-width:4;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}