#inputs {
	margin:20px;
}

.jslider {
	max-width:400px;
	margin-top:20px;
	margin-bottom:20px;
}

.blue {
	fill:#26466D;
}

.blue_line {
	stroke:#26466D;
	stroke-width:2;
}

.no_line {
	opacity:0.5;
	stroke-width:1;
}

.small_line {
	opacity:.25;
	stroke-width:2;
}

.med_line {
	opacity:.5;
	stroke-width:3;
}

.big_line {
	opacity:1;
	stroke-width:4;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}