<!doctype html>
<html lang="en" ng-app="relvisApp">
<head>
  <meta charset="utf-8">
  <title>Edgeless Networks</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="node_modules/ng-slider/dist/css/ng-slider.min.css">
  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="node_modules/ng-slider/dist/ng-slider.min.js"></script>
  <script src="app/controllers.js"></script>
  <script src="app/directives.js"></script>
  <script src="app/app.js"></script
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42811961-2', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body ng-controller="relvisCtrl">
<div id="relnetwork">
  <h3>Edgeless Networks</h3>
  <relvis bar-height="20" bar-padding="5" data="d3Data">
  </relvis>
  <svg id="visualization"  ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}" ng-style={"margin-left":visualizationMargin}>  
    <circle ng-repeat="node in nodes" 
        ng-attr-cx="{{xpos($index)}}" 
        ng-attr-cy="{{ypos($index)}}" 
        ng-attr-r= "{{minradius + node.stability}}"
        ng-click="tapNode($index)"
        class="blue">
    </circle>
    <line ng-repeat="line in lines"
    	ng-attr-x1="{{xpos(line.sender)}}"
    	ng-attr-y1="{{ypos(line.sender)}}"
    	ng-attr-x2="{{xpos(line.target)}}"
    	ng-attr-y2="{{ypos(line.target)}}"
    	ng-style="line.style"
    	class="blue_line">
    </line>    
    <circle ng-repeat="bit in bits" 
        ng-attr-cx="{{bit.x}}" 
        ng-attr-cy="{{bit.y}}" 
        ng-attr-r= "{{bitradius}}"
        class="blue"
        ng-style="{opacity:{{bitVisibility/100}}}">
    </circle>
  </svg> 
</div>
  <div id="legend" class="legend">
      A simple edgless network in which stable connections emerge and then fade over time.<br>
  </div>
  <div id="more_legend" class="legend" ng-show="show_legend">
    Each node has a "stability" value, indicated by its size. Nodes with a low stability will randomly rotate where they target their packets. When a node receives a packet, its stability increases and the likelihood that it will switch targets decreases. As stable and near-stable connections form, they are illustrated with lines.    
  </div>
  <div class="center">
    <span ng-click="show_legend=!show_legend" class="glyphicon" ng-class="show_legend?'glyphicon-chevron-up':'glyphicon-chevron-down'"></span>
  </div>
  <form id="inputs" name="settings">
    <label>Grid Size</label><br>
    <input type="text"
      name="input"
       ng-model="gridsize"
       slider
       options="gridsizeOptions"
       >
       <div id="extraSettings" ng-show="show_settings">
          <label>Leakiness </label> <br>
          <em>Controls the liklihood that packets will fail to transmit to a node within the grid.</em>
          <input type="text"
            name="input"
             ng-model="bitEscapeChance"
              slider
             options="percentageOptions"
             >
          <br>
          <label>Transmission Range</label> <br>
          <em>Controls the distance within the grid that a node is capable of transmitting packets.</em>
          <input type="text"
            name="locality"
            ng-model="locality"
            slider
            options="rangeOptions">
            <br>
          <label>Packets per Node</label> <br>
          <em>Controls the number of nodes that a packet is capable of transmitting.</em>
          <input type="text"
            name="numTargets"
            ng-model="numTargets"
            slider
            options="bitsPerNodeOptions">
          <label>Packet Visibility</label> <br>
          <em>Makes packets partially or fully transparent to prevent distracting motion.</em>
          <input type="text"
            name="bitVisibility"
            ng-model="bitVisibility"
            slider
            options="percentageOptions">

       </div>
       <div class="center">
           <span ng-click="show_settings=!show_settings" class="glyphicon" ng-class="show_settings?'glyphicon-chevron-up':'glyphicon-chevron-down'"></span>
       </div>
  </form> 
  <div id="stabilityCurve" ng-controller="stabilityGraphController">
    <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}" ng-show="false">
      <line
        ng-attr-x1="0"
        ng-attr-y1="0"
        ng-attr-x2="0"
        ng-attr-y2="{{graph.height}}"
        class="blue_line"
        >
      </line>
      <line
        ng-attr-x1="0"
        ng-attr-y1="{{graph.height}}"
        ng-attr-x2="{{graph.width}}"
        ng-attr-y2="{{graph.height}}"
        class="blue_line"
        >
        </line>
      </line>
      <circle ng-repeat="point in points"
        ng-attr-cx="{{point.x}}"
        ng-attr-cy="{{point.y}}"
        ng-attr-r="{{point_radius}}"
        class="blue">
        </circle>
      </svg>
  </div>
  <div id="intro-container">
    <div id="intro" class="well well-lg">
    <h2>How do stable relationships emerge from chaos?</h2>
        <p>I am interested in the properties of persistant streams of information. Whenever one of these streams connects two entities in the universe their states are effected. This basic fact allows us to construct simple but powerful models for describing how connections between nodes in a network emerge and then fade over time.
        </p>
        <p><b>Edgeless networks</b></p>
        <p>are an analytical tool for exploring these dynamic flows of information. Edgeless networks seek to build on graph theory by replacing edges with dynamic flows of information between nodes with changing states. They are defined as follows:</p>
          <p><ul>
              <li>Let there be a set of N nodes.</li>
              <li>Let each node be capable of transmitting packets of information to other nodes.</li>
              <li>Let each node choose which other node or nodes it will transmit to according to some probability distribution.</li>
              <li>When a node sends or receives a packet, let its probability distribution be transformed in some way.</li>
         </ul></p>
        
        <p>By modifying the parameters of edgless networks it is possible to create a wide range of phenomena, from networks which resemble crystalline structures with flaws to large dynamic scale-free networks. By choosing parameters which match real-world datasets, I hope to build a flexible framework for analyzing how networks change over time.</p>
    </div>
    </div>
  </div>
  <div id="aboutme_container">

    <h2>About Me</h2>
    <img src="images/djpic.jpg" id="djpic" class="img-rounded"/>
    <div id="aboutme" class="well well-lg">
    I am an activist and open science enthusiast living in Brooklyn, NY. I am developing analytical toolsets related to edgless networks in collaboration with a a small group of researchers from a range of fields. I have a particular interest (though little formal background) in the study of relationship formation and structure in systems biology, neural networks, and self-organizing human systems such as social movements. I am employed in the research arm of a major technology company, though this work is in no way affiliated with my employer. If you are interested in having a conversation I gleefully respond to tweets <a href="http://www.twitter.com/davidgljay" target="_blank">@davidgljay</a>.
    </div>
  </div>
  <div id="footer">
  <hr>
  </div>

</body>
</html>